language: perl
os:
  - linux
  # - osx

perl:
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"

before_install:
  cpanm -n Devel::Cover::Report::Coveralls Test::Script

install:
  - cpanm --installdeps --notest Test::Pod::Spelling::CommonMistakes Test::Portability::Files Test::Carp Test::Taint

script:
  perl Makefile.PL && make && cover -test -report coveralls
