---
# See https://github.com/FGasper/perl-github-action-tips
# See also https://github.com/egor-tensin/setup-cygwin/issues/9

name: Test Code on Cygwin
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: C:\tools\cygwin\bin\bash.exe --login --norc -eo pipefail -o igncr '{0}'

    steps:
      - name: Set up Cygwin
        uses: egor-tensin/setup-cygwin@master
        with:
          platform: x64
          packages: perl_base perl-ExtUtils-MakeMaker make gcc-g++ libcrypt-devel libnsl-devel bash
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - run: perl -V
      - run: cpan App::cpanminus
      - name: Install Dependencies
        run: |
          cd $GITHUB_WORKSPACE; cpanm --verbose --notest --installdeps --with-configure --with-develop .
          find ~ -name build.log | xargs cat
      - name: perl Makefile.PL
        run: cd $GITHUB_WORKSPACE; perl Makefile.PL
      - name: make
        run: cd $GITHUB_WORKSPACE; make
      - name: prove -wlvmb t
        run: cd $GITHUB_WORKSPACE; make test
