---
# See https://github.com/actions/virtual-environments
permissions:
  contents: read

name: Test Code on Windows
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
          - windows-2019
        perl: ['5.40', '5.38', '5.36', '5.34', '5.32', '5.30', '5.28']
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: codecov/codecov-action@v5
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - run: perl -V
      - name: Install Dependencies
        run: |
          cpanm -iqn --skip-satisfied File::Spec ExtUtils::MakeMaker Devel::Cover::Report::Codecov Test::Harness
          cpanm -iqn --skip-satisfied Test::Script Test::Portability::Files Test::Taint Test::Carp Test::Compile Test::Pod::Coverage LWP::UserAgent
          cpanm -iqn --skip-satisfied --installdeps --notest .
      - name: Run Tests
        run: |
          choco --no-progress install codecov
          cover -test
          cover -report codecov
          curl -Os https://uploader.codecov.io/latest/windows/codecov.exe
          ./codecov -t ${{ secrets.CODECOV_TOKEN }}
        env:
          AUTHOR_TESTING: 1
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
